.search-input-container {
    position: relative;
    width: 45%;
    overflow: hidden;
    background-color: #ffff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}
.search-input-container input[type="text"]::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgb(126, 126, 126);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.search-containe{
  font-size: 24px;
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
  background-color: #ED3A56;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-containe-icon{
  color: #ffff;
}
.Search-bar{
  margin-top: 25px;
}
@media screen and (max-width:1024px) {
  .search-input-container {
    width: 70%;
}
.placeholder-animation {
  left: 110px;
}
}
@media screen and (max-width:768px) {
  .search-input-container {
    width: 80%;
}
.placeholder-animation {
  left: 110px;
}
}
@media screen and (max-width:428px) {
  .search-input-container {
    width: 90%;
    height: 50px;
}
.placeholder-animation {
  left: 110px;
}
.search-containe{
  font-size: 18px;
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  background-color: #ED3A56;
  border: none;
  margin-top: 5px;
}
.search-containe-icon{
  color: #ffff;
}
.Search-bar{
  margin-top: 10px;
}
}
